<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="footballers">
      <ion-icon name="football"></ion-icon>
      <ion-label>Footballers</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="photos">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="voice-recorder">
      <ion-icon name="barcode"></ion-icon>
      <ion-label>Vocaux</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about-me">
      <ion-icon name="apps"></ion-icon>
      <ion-label>A propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
